# This is a basic workflow to help you get started with Actions

name: Release

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
        releaseVersion:
          description: 'Release Version'
          required: true

jobs:
  build:
    runs-on: ubuntu-latest  
    permissions: 
      contents: read
      repository-projects: write
    steps:
       - name: Create release
         env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
         run: echo ${{ github.actor }}
